.container{
    height: 204px;
    width: 204px;
    border: 1px solid black;
}
div{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid black;
}
/* div:nth-of-type(2n){
    background-color: black;
}
     */
     .blacks{
        background-color: black;
     }