.container{
    height: 300px;
    width: 300px;
    border: 1px solid black;
}
.red-team{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: red;
}
.yellow-team{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: yellow;
    position: relative;
    top: 96px;
}
.green-team{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: green;
    position: relative;
    bottom: 210px;
    left: 199px;
}
.blue-team{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: blue;
    position: relative;
    left: 199px;
    bottom: 107px;
}
.boxes-in-red{
    height: 15px;
    width: 25px;
    border: 1px solid black;
    position: relative;
    left: 100px;
    bottom: 1px;
    
}
.boxes-in-red:nth-of-type(2){
    background-color: red;
}

.red-wining-boxes{
    height: 15px;
    width: 35px;
    border: 1px solid black;
    position: relative;
    left: 131px;
    bottom: 137px;
}
.red-wining-boxes:nth-of-type(n){
    background-color: red;
}
.boxes-in-yellow{
    height: 15px;
    width: 25px;
    border: 1px solid black;
    position: relative;
    left: 100px;
    bottom: 1px;
    
}




.boxes-in-yellow:nth-of-type(5){
    background-color: yellow;
}
.yellow-wining-boxes{
    height: 30px;
    width: 11px;
    border: 1px solid black;
    position: relative;
    bottom: 200px;
    right: 1px;
    display: inline-block;
}
.yellow-wining-boxes:nth-of-type(n){
    background-color: yellow;
}

.boxes-in-green{
    height: 15px;
    width: 25px;
    border: 1px solid black;
    position: relative;
    right: 27px;
    bottom: 1px;
    
}
.boxes-in-green:nth-of-type(2){
    background-color: green;
}

.green-wining-boxes{
    height: 15px;
    width: 35px;
    border: 1px solid black;
    position: relative;
    right: 68px;
    top: 68px;
    
}
.green-wining-boxes:nth-of-type(n){
    background-color: yellow;
}

.boxes-in-blue{
    height: 15px;
    width: 25px;
    border: 1px solid black;
    position: relative;
    right: 27px;
    bottom: 1px;   
}
.boxes-in-blue:nth-of-type(2){
    background-color: blue;
}

.blue-wining-boxes{
    height: 30px;
    width: 11px;
    border: 1px solid black;
    position: relative;
    bottom: 202px;
    left: 2px;
    display: inline-block;
}
.blue-wining-boxes:nth-of-type(n){
    background-color: blue;
}

.row-red-boxes{
    border: 1px solid black;
    height: 27px;
    width: 11px;
    display: inline-block;
    position: relative;
    right: 1px;
}
.yellow-row-boxes{
    border: 1px solid black;
    height: 27px;
    width: 11px;
    display: inline-block;
    position: relative;
    right: 1px;
    bottom: 131px;
}
.green-row-boxes{
    border: 1px solid black;
    height: 27px;
    width: 11px;
    display: inline-block;
    position: relative;
    left: 2px;
}
.blue-row-boxes{
    border: 1px solid black;
    height: 27px;
    width: 11px;
    display: inline-block;
    position: relative;
    bottom: 131px;
    left: 2px;
}
