*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background: #ff6760;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    max-width: 400px;
    width: 100%;
}

.box .search-box{
    position: relative;
    height: 50px;
    max-width: 50px;
    margin: auto;
    transition: all 0.5s ease;
}

.search-box:hover{
    max-width: 380px;
}

.search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background: #fff;
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: 16px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.search-box:hover input{
    opacity: 1;
    pointer-events: auto;
}

.search-box .icon{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background: #fff;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    color: #ff6760;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
    border: none;
}

.search-box:hover .icon{
    border-radius: 0 25px 25px 0;
    background: #ff6760;
    color: #fff;
}